[Unit]
Description=pbspara-Exporter
After=network-online.target


[Service]

Type=simple

ExecStart=/data/home/pcadmin/golang/pbspara-exporter
SyslogIdentifier=pbs_huitian
StandardOutput=journal
StandardError=journal

Restart=on-failure

[Install]
WantedBy=multi-user.target